*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    width: 400px;
    margin: 0 auto;
}
header, .cabecalho {
    background-color:#128C7E;
    color: white;
    font-weight: bold;
}

.upperTitle {
    display: flex;
    justify-content:space-between;
    padding-bottom: 1rem;
    position: relative;
    padding: 10px;
}

.tituloWhatsApp {
    font-size: 20px;
    padding-left: 20px;
}

.tituloWhatsApp2 {
    font-size: 20px;
    position: absolute;
    left: 40px;
    top: 10px;
}

.esconder {
    display: none;
}

.listaMais {
    position: absolute;
    background-color: white;
    right: 0;
    top: 38px;
}

.listaMais ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid gray;
}

.listaMais ul li {
    padding: 5px;
    color: black;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 15px;
}

.listaMais ul li:first-child{
    padding-top: 15px;
}

.listaMais ul li:last-child{
    padding-bottom: 15px;
}

.bottomTitle ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.camera {
    padding: 10px;
}

.cabecalho {
    padding-bottom: 20px;
    position: relative;
}

.seta {
    padding-top: 10px;
}

.bottomTitle ul li {
    padding: 10px;
}

.bottomTitle ul .conversas {
    border-bottom: 4px solid white;
}

.box {
    padding: 20px;
    border: 1px solid gray;
}

.boxConteudo {
    width: 70%;
}